body {
	background-image:url('../image/bk2.jpg');
background: pink;
background-repeat: no-repeat;
 background-attachment:fixed;

margin:50px;
height: 600px;
width: 800px;
align: center;
}
h1 {
background-color:red;
color:white;
border-bottom:5px solid grey;
align: center;
}
#footer
{ width: 800px;
  height: 60px;
  padding-top: 20px;
  text-align: center; 
  background: transparent;
  color: RED;
   text-shadow: 1px 1px #1D1D1D;}

#header
{ height: 5px;
  width: 800px;
  align: center;
  
 }
button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
   	 top,
   	 #42ff42 0%,
   	 #146600);
    background: -webkit-gradient(
   	 linear, left top, left bottom,
   	 from(#42ff42),
   	 to(#146600));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #134201;
    -moz-box-shadow:
   	 0px 1px 3px rgba(000,000,000,0.9),
   	 inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
   	 0px 1px 3px rgba(000,000,000,0.9),
   	 inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
   	 0px 1px 3px rgba(000,000,000,0.5),
   	 inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
   	 0px -1px 0px rgba(001,000,000,0.8),
   	 0px 1px 0px rgba(255,255,255,0.3);
   	 padding: 5px 20px 5px 20px;
}
button.css3button:hover {
 // background: #2980b9;
   background:pink;
  text-decoration: none;
  color: red;
}
 .hidden{
	 display: none;  
	   }
	   .center{
		text-align: center;   
		 }
		button.color:hover {
  background: #2980b9;
  text-decoration: none;
}
.big {
	font-size: 200%;
	}
	.color {
	color: red;
	}
	.rmcolor {
	color: black;
	}
